<div
  class="course-card"
  [ngClass]="course.category === 'BEGINNER' ? 'beginer' : null"
>
  <div class="course-title">{{ carIndex + " " + course.description }}</div>
  <img
    width="300"
    alt="Angular Logo"
    [src]="course.iconUrl"
    *ngIf="course.iconUrl"
  />

  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <div class="course-category" [ngSwitch]="course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
    <div class="category" *ngSwitchCase="'ADVANCED'">Advance</div>
  </div>
  {{ today | date }}
  <button (click)="onCourseViewed()">View Course</button>
</div>
